[Desktop Entry]
Encoding=UTF-8
Name=Lien vers docx to html - CloudConvert
Type=Link
URL=https://cloudconvert.com/docx-to-html
Icon=text-html
Name[fr_FR]=docx to html - CloudConvert
